.main-navigation ul ul, .main-navigation a:hover, ::selection,.ribbon .text-yellow,

.featured-work .yellow,

.box-service .icon,

.testimonial-box,

.box-service:hover,

.box-office,

.yellow-btn,

.breadcrumb a.active, .breadcrumb a:hover,

section.work .item-box .hover,

.load-more p.circle,

section.download,

.featured-img-top .text,

section.item-details .content .left blockquote,

section.related-items .pagination a.current, section.related-items .pagination a:hover,

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus,

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle,

.dropdown-menu,

.pagination-wrap a.current, .pagination-wrap a:hover,

.price_block:hover .price,

.price_block:hover .action_button,

.special-content,

.nav-tabs > li > a,

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus,

.table-hover tbody tr:hover > td,.table-hover tbody tr:hover > th,

div.line-yellow,

address p a, address p a:hover,

.bottom-line a.icons span,

.search input[type="submit"],

.widget a.eye-icon span,

.widget a.heart-icon span {

	background-color:#eddf00;

}



::-moz-selection,footer a, footer a:hover,

.box-item h3 a,

section.latest-work .text-box p.title,

.team-wrap a p.info,

section.work .item-box p.title,

.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus,.dropdown-submenu:hover > a,.dropdown-submenu:focus > a,

.navbar .btn-navbar:hover,.navbar .btn-navbar:focus,.navbar .btn-navbar:active,.navbar .btn-navbar.active,.navbar .btn-navbar.disabled,.navbar .btn-navbar[disabled],

.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus,.dropdown-submenu:hover > a,.dropdown-submenu:focus > a,

.navbar .nav > li > a:focus,.navbar .nav > li > a:hover,

section.download a.button,

.list-post-info time,

.widget p.title,

.widget a.view-all,

.widget a:hover,

.comments .title,

.list-post-content h3,

.package_name,

.action_button,

.testimonial-box p.client-info a,

button.btn, input[type="submit"].btn,

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus,.main-navigation ul ul a:hover

{

	color:#eddf00;

}	



.sidebar .widget-title, .list-post-info time span, .comments .title span, .form-contact input[type="submit"].btn, .testimonial-box p.client-info a, .widget p.title, section.work .item-box p.title, .box-item h3 a, .team-wrap a p.info, .footer-box a, section.download a.button, .nav-tabs a.current, .action_button { 

	color:#eddf00 !important;

}



footer,

section.latest-work,

.image-wrap,



.ribbon, .team-wrap {

    border-color: #eddf00;

}



.list-post-content .post-img img:first-child,

.arrow-menu{

	border-color: #eddf00;

}

.image-wrap .arrow-right, .ribbon .arrow-right, .team-wrap .arrow-right {

	border-left:8px solid #eddf00;

}

.arrow-small{

	border-top:4px solid #eddf00;

}

.image-wrap .arrow-left, .ribbon .arrow-left, .team-wrap .arrow-left{

	border-right:8px solid #eddf00;

 }